body{
background-color:#fafafa;
}

.container{
background-color:white;
border:1px solid #cecece;
width:20rem;
height: 21rem;
}

.h1{
font-family:sans-serif;
font-weight:400;
letter-spacing:;
color:#3d3d3d;
font-size:23px;
}

.p{
width:60%;
color:#999;
font-family:sans-serif;
}

.username{
background-color:#fafafa;
border:1px solid #cecece;
outline:none;
border-radius:6px;
width:220px;
height:35px;
text-align:center;
font-size:16px;
}

.button{
color:white;
background-color:red;
font-size:17px;
border-radius:5px;
outline:none;
font-family:sans-serif;
font-weight:540;
border:0;
width:170px;
height:30px;
font-weight:bold;
}